
@mixin background-settings($bg-image, $bg-size, $bg-repeat) {
  background-image: $bg-image;
  background-size: $bg-size;
  background-repeat: $bg-repeat;
  @content;
}

@mixin flexbox-settings($justify, $align-item) {
  display: flex;
  justify-content: $justify;
  align-items: $align-item;
  @content;
}

@mixin no-margin-padding {
  margin: 0;
  padding: 0;
}

