@font-face {
  font-family: "Avenir";
  src: url("../assets/Font/Alternative/AvenirNextLTPro.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/Font/Alternative/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/Font/Alternative/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/Font/Alternative/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
body {
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: "Avenir";
}

.nav {
  background-color: #323232;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
@media screen and (min-width: 768px) {
  .nav {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
}
.nav__logo, .footer-item__logo {
  text-decoration: none;
  color: #ffffff;
  margin: 1rem 0 0.02rem;
}
@media screen and (min-width: 768px) {
  .nav__logo, .footer-item__logo {
    margin: 0 0 0 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__logo, .footer-item__logo {
    margin: 1.5rem 0 1.5rem 10rem;
  }
}
.nav__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .nav__list {
    justify-content: space-evenly;
    width: 22rem;
  }
}
.nav__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav__list-item {
    justify-content: flex-start;
  }
}
.nav__link {
  padding: 1.5rem 0 0.8rem;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Avenir";
  font-weight: 400;
  line-height: 1.3rem;
  font-size: 0.95rem;
  font-size: 1.1rem;
  color: #e1e1e1;
  transition: font-weight 0.5s;
  border-bottom: 4px solid #323232;
}
@media screen and (min-width: 768px) {
  .nav__link {
    padding: 2rem 0;
    width: 100%;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__link {
    padding: 2.5rem 0;
  }
}
.nav__link:hover, .nav__link:active {
  border-bottom: 4px solid white;
  color: #ffffff;
}
.nav__link:link {
  border-bottom: 4px solid #323232;
}

.footer-item {
  padding: 0 1rem;
  color: #323232;
  background-color: #323232;
  color: #ffffff;
  padding-bottom: 2rem;
  padding-top: 1rem;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .footer-item {
    padding: 0 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer-item {
    padding: 0 10rem;
  }
}
.footer-item__info, .mgt, .social-media {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-flow: column nowrap;
  margin-top: 2rem;
}
.footer-item__container {
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .footer-item__logo {
    position: absolute;
    bottom: 20rem;
    right: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer-item__logo {
    bottom: 21.5rem;
    right: 10rem;
  }
}

.social-media {
  width: 40%;
  height: 70%;
}
@media screen and (min-width: 768px) {
  .social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    width: 52.5%;
  }
}
@media screen and (min-width: 1280px) {
  .social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    width: 29rem;
  }
}
.social-media__title {
  padding: 1.5rem 0 1rem;
  margin: 0;
  font-family: "Avenir";
  font-weight: 700;
  line-height: 2rem;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .social-media__title {
    font-family: "Avenir";
    font-weight: 700;
    line-height: 4rem;
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 1280px) {
  .social-media__title {
    font-size: 2.5rem;
    margin: 1rem 0;
  }
}
@media screen and (min-width: 768px) {
  .social-media__title {
    margin: 0;
    padding: 0;
    align-self: center;
    white-space: nowrap;
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1280px) {
  .social-media__title {
    font-size: 2.2rem;
  }
}
.social-media__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
@media screen and (min-width: 768px) {
  .social-media__icons {
    width: 34.5%;
  }
}
@media screen and (min-width: 1280px) {
  .social-media__icons {
    width: 30.5%;
  }
}
.social-media__img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 2.4rem;
}
@media screen and (min-width: 768px) {
  .social-media__img {
    min-width: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .social-media__img {
    min-width: 2.2rem;
  }
}
.social-media__img-sm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1.5rem;
}
@media screen and (min-width: 768px) {
  .social-media__img-sm {
    min-width: 0.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .social-media__img-sm {
    min-width: 1.5rem;
  }
}

.mgt-info {
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .mgt-info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row nowrap;
    width: 100%;
  }
}

.mgt {
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .mgt {
    width: 19rem;
  }
}
.mgt__container, .mgt__email {
  margin: 1.4rem 0;
}
@media screen and (min-width: 768px) {
  .mgt--mid {
    margin-left: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .mgt--mid {
    margin-left: 1.25rem;
  }
}
.mgt__address, .mgt__name {
  font-family: "Avenir";
  font-weight: 400;
  line-height: 1.3rem;
  font-size: 0.95rem;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .mgt__address, .mgt__name {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1280px) {
  .mgt__address, .mgt__name {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}
.mgt__name {
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .mgt__name {
    font-size: 1.2rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 1280px) {
  .mgt__name {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}
.mgt__email {
  font-family: "Avenir";
  font-weight: 400;
  line-height: 1.3rem;
  font-size: 0.95rem;
  text-decoration: none;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .mgt__email {
    font-family: "Avenir";
    font-weight: 400;
    line-height: 1.25rem;
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1280px) {
  .mgt__email {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

.copyright {
  font-size: 0.9rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 1280px) {
  .copyright {
    font-size: 1rem;
  }
}

.hero {
  background-image: url(../assets/images/hero-bio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 19.5rem;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 30.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 50rem;
  }
}
.hero__shade {
  background-color: rgba(50, 50, 50, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.hero__title {
  margin: 0;
  padding: 0;
  font-family: "Avenir";
  font-weight: 700;
  line-height: 2rem;
  font-size: 1.5rem;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 3.2rem;
    padding-left: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 4rem;
    padding-left: 12rem;
  }
}

.band-info {
  padding: 0 1rem;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .band-info {
    padding: 0 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .band-info {
    padding: 0 10rem;
  }
}
.band-info__title {
  padding: 1.5rem 0 1rem;
  margin: 0;
  font-family: "Avenir";
  font-weight: 700;
  line-height: 2rem;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .band-info__title {
    font-family: "Avenir";
    font-weight: 700;
    line-height: 4rem;
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 1280px) {
  .band-info__title {
    font-size: 2.5rem;
    margin: 1rem 0;
  }
}
.band-info__container {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .band-info__container {
    width: 81%;
    margin: auto;
  }
}
.band-info__frame {
  height: 15.5rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .band-info__frame {
    height: 19rem;
    margin: auto;
  }
}
@media screen and (min-width: 1280px) {
  .band-info__frame {
    height: 38rem;
  }
}
.band-info__img, .photo-gallery__img {
  width: 100%;
  height: 100%;
}
.band-info__text {
  padding: 1rem 0 0;
  margin: 0;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.8rem;
}
@media screen and (min-width: 768px) {
  .band-info__text {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1280px) {
  .band-info__text {
    font-family: "Avenir";
    font-weight: 600;
    line-height: 2rem;
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 768px) {
  .band-info__text--author {
    font-size: 0.95rem;
  }
}
@media screen and (min-width: 1280px) {
  .band-info__text--author {
    font-size: 1.2rem;
  }
}

.article__title {
  font-family: "Avenir";
  font-weight: 400;
  line-height: 1.4rem;
  font-size: 1.1rem;
}
@media screen and (min-width: 768px) {
  .article__title {
    font-family: "Avenir";
    font-weight: 600;
    line-height: 2rem;
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 768px) {
  .article__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
  }
}
.article__text {
  font-family: "Avenir";
  font-weight: 400;
  line-height: 1.3rem;
  font-size: 0.95rem;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .article__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Avenir";
    font-weight: 400;
    line-height: 1.25rem;
    font-size: 0.8rem;
    width: 48%;
  }
}
@media screen and (min-width: 1280px) {
  .article__text {
    font-size: 1rem;
    line-height: 2rem;
  }
}

.photo-gallery {
  background-color: #fafafa;
  padding: 0 1rem;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .photo-gallery {
    padding: 0 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .photo-gallery {
    padding: 0 10rem;
  }
}
.photo-gallery__title {
  padding: 1.5rem 0 1rem;
  margin: 0;
  font-family: "Avenir";
  font-weight: 700;
  line-height: 2rem;
  font-size: 1.5rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .photo-gallery__title {
    font-family: "Avenir";
    font-weight: 700;
    line-height: 4rem;
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 1280px) {
  .photo-gallery__title {
    font-size: 2.5rem;
    margin: 1rem 0;
  }
}
.photo-gallery__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .photo-gallery__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
  }
}
.photo-gallery__frame {
  width: 100%;
  padding-bottom: 1.1rem;
}
@media screen and (min-width: 768px) {
  .photo-gallery__frame {
    width: 31.5%;
  }
}
.form {
  padding: 0 1rem;
  color: #323232;
  margin: 0;
  padding: 0;
  padding: 0.5rem 1rem;
}
@media screen and (min-width: 768px) {
  .form {
    padding: 0 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .form {
    padding: 0 10rem;
  }
}
.form__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}
.form__row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column nowrap;
  box-sizing: border-box;
}
.form__label {
  font-family: "Avenir";
  font-weight: 400;
  line-height: 1.4rem;
  font-size: 1.1rem;
  color: #afafaf;
  margin: 1rem 0;
}
.form__input, .form__textarea {
  font-size: 2rem;
  width: 100%;
  padding: 0.5rem;
  background-color: #e1e1e1;
  border: 1px solid #e1e1e1;
  resize: none;
  border-radius: 5px;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .form__input, .form__textarea {
    width: 70vw;
  }
}
@media screen and (min-width: 1280px) {
  .form__input, .form__textarea {
    width: 40vw;
  }
}
.form__textarea {
  padding: 2rem;
}
.form .img-frame {
  margin: 2rem;
}
.form .img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.form .btn {
  background-color: #323232;
  border-radius: 4px;
  padding: 1rem 2rem;
  color: #ffffff;
  margin: 2rem 0;
  width: 20rem;
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  .form .btn {
    align-self: flex-end;
    width: 15rem;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .form .btn {
    width: 15rem;
  }
}
@media screen and (min-width: 768px) {
  .form__title {
    font-size: 2.7rem;
  }
}
.form__error-signal {
  border: 4px solid red;
}

.post-section {
  width: 100%;
  padding: 0 2rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .post-section {
    width: 80%;
    margin: auto;
  }
}
@media screen and (min-width: 1280px) {
  .post-section {
    width: 45%;
    margin: auto;
    padding: 0 2rem;
  }
}

.post-container {
  display: flex;
  justify-content: space-between;
  align-items: space-around;
  color: #323232;
  border-bottom: 1px solid #afafaf;
  padding: 1rem 0;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: space-around;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.post__heading {
  font-size: 1.2rem;
  margin-bottom: 0;
}
.post__text {
  font-size: 1.2rem;
  padding-right: 2rem;
}
.post__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post__time {
  color: #afafaf;
  font-size: 1.2rem;
}
.post__image {
  margin: 2rem 2rem;
  padding: 1.1rem 1rem;
  border-radius: 50%;
  background-color: #afafaf;
  height: 2rem;
  width: 6rem;
}/*# sourceMappingURL=bio.css.map */