@use "./partials/global" as *;
@use "./partials/colors" as *;
@use "./partials/breakpoints" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;


.hero {
  @include background-settings(
    url(../assets/images/hero-bio.jpg),
    cover,
    no-repeat
  );
  height: 19.5rem;
  @include tablet {
    height: 30.5rem;
  }
  @include desktop {
    height: 50rem;
  }

  &__shade {
    background-color: rgba(50, 50, 50, 0.5);
    width: 100%;
    height: 100%;
    @include flexbox-settings(flex-start, center);
  }
  &__title {
    @include no-margin-padding;
    @include mobile-header-font;
    padding-left: 1rem;

    @include tablet {
      font-size: 3.2rem;
      padding-left: 3rem;
    }
    @include desktop {
      font-size: 4rem;
      padding-left: 12rem;
    }
  }
}

.band-info {
 @include footer-setup;
  &__title {
  @include title-setup;
  }
  &__container {
    width: 100%;

    @include tablet {
      width: 81%;
      margin: auto;
    }
  }
  &__frame {
    height: 15.5rem;
    width: 100%;
    @include tablet {
      height: 19rem;
      margin: auto;
    }
    @include desktop {
      height: 38rem;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
  }
  &__text {
    padding: 1rem 0 0;
    margin: 0;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.8rem;
    @include tablet {
      font-size: 1.1rem;
    }
    @include desktop {
      @include desktop-subheader-font;
    }
    &--author {
      @include tablet {
        font-size: 0.95rem;
      }
      @include desktop {
        font-size: 1.2rem;
      }
    }
  }
}
.article {
  &__title {
    @include mobile-subheader-font;
    @include tablet {
      @include desktop-subheader-font;
    }
  }
  &__container {
    @include tablet {
      @include flexbox-settings(space-between, flex-start);
      flex-flow: row wrap;
    }
  }
  &__text {
    @include mobile-copy-font;
    @include no-margin-padding;
    @include tablet {
      @include flexbox-settings(space-between, center);
      @include desktop-copy;
      width: 48%;
    }
    @include desktop {
      font-size: 1rem;
      line-height: 2rem;
    }
  }
}

.photo-gallery {
  background-color: $sec-color-light;
  @include footer-setup;

  &__title {
    @include title-setup;
    width: 100%;
  }
  &__container {
    @include flexbox-settings(space-evenly, center) {
      flex-flow: column nowrap;
    }
    @include no-margin-padding;
    @include tablet {
      @include flexbox-settings(space-between, center);
      flex-flow: row wrap;
    }
  }
  &__frame {
    width: 100%;
    padding-bottom: 1.1rem;
    @include tablet {
      width: 31.5%;
    }
  }
  &__img {
    @extend .band-info__img;
  }
}
.form-section {
  @include footer-setup;
  border: red 1px solid;
}
.form-container {
  border: blue 1px solid;
  @include flexbox-settings(center, space-around);
  box-sizing: border-box;
}

.form {
  width: 100%;
  padding: 2rem 0;
  @include flexbox-settings(center, flex-start);
  flex-direction: column;
  color: black;
}

.form__input {
  width: 100%;
  margin: 1rem 0;
  @include flexbox-settings(center, space-around);
  padding: 0.8rem;
  border-radius: 5px;
  box-sizing: border-box;
}

.img-frame {
  margin: 2rem 2rem;
}
.img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.btn {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}
